.char{
    width: 5vw;
    height: 5vw;
}

.match {
    padding: 0.5rem 2rem 1rem 2rem;
}

.match:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}