.char{
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
}


.sideChar {
    width: 10%;
    height: 10%;
    padding: 0.25vw;
    display: flex;
    float: left;
}

.wChar {
    width: 10%;
    height: 10%;
    padding: 0.25vw;
    display: flex;
    float: left;
}

.lChar {
    width: 10%;
    height: 10%;
    padding: 0.25vw;
    display: flex;
    float: right;
}

.summSpell {
    margin: 0.7vw;
    border-radius: 25px;
}

.colText {
    float: center;
}

.c_ico{
    width: 2.5vw;
    height: 2.5vw;
}

.summoner_container{
    cursor: pointer;
}

.blue_team:hover {
    opacity: 0.5;
    color: blue;
    transition: color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.red_team:hover {
    opacity: 0.5;
    color: red;
    transition: color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.player:hover {
    opacity: 0.5;
    color: green;
    transition: color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.wonCol {
    width: 100%;
    display: flex;
    float: center;
}

.lCol {
    display: flex
    float: left;
    width: 100%;
}

.match_won {
    padding: 0.5rem 2rem 1rem 2rem;
    border-style: solid;
}

.match_won:hover {
    background-color: #1675fa;
    opacity: 0.90;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out, opacity 0.35s ease-in-out;
}

.match_lost {
    padding: 0.5rem 2rem 1rem 2rem;
}

.match_lost:hover {
    background-color: #a3152d;
    opacity: 0.90;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out, opacity 0.35s ease-in-out;
}

.hidden {
    display: none !important;
}



.item_img {
    width: 3vw;
    height: 3vw;
    padding: 0.1vw;
    border-style: solid;
    display: flex;
    float: left;
}

.ward_img {
    border-style: solid;
    border-radius: 20px;

}

/* STYLING FOR CHAMPION SIDEBAR */
.rank_img {
    width: 25%;
    height: 25%;
    float: left;
}

.wins {
    color: blue;
    float: left;
}

.losses {
    font-color: red;
    color: red;
    float: right;
}

.winrate {
    font-color: black;
    float: center;
}

.sidebar_padding {
    margin-top: 3vw;
}

